.app-container {
  min-height: 100vh;
  background: #677dec;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+ */
  position: relative;
}
.app-container > * {
  transform: translateY(-4rem);
}
.home-page {
  width: 100%;
  max-width: 900px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
}

.header h1 {
  color: white;
  font-size: 3.5rem;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}

.games-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem; /* Zvýšený gap */
  justify-items: center;      /* Každý box bude centrován ve sloupci */
  justify-content: center;    /* Celý grid bude na střed */
  align-items: center;
}


.game-card.chess-color, .game-card.sudoku-color, .game-card.wordle-color {
  background: white;
  border-radius: 20px;
  padding: 1rem 0.8rem;
  box-shadow: 0 6px 16px rgba(0,0,0,0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;      /* šířka pro poměr 9:16 */
  height: 40vh;     /* výška pro poměr 9:16 */
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 0;
}

.game-icon {
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
}

.game-card h2 {
  font-size: 2rem;
  margin-top: auto;
  margin-bottom: 1rem;
}


.game-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);

}

.game-card.sudoku-color:hover h2 {
  color: #f092fa;
}

.game-card.chess-color:hover h2 {
  color: #4eadff;
}

.game-card.wordle-color:hover h2 {
  color: #43e97b;
}

.card-inner {
  width: 14vw;      /* šířka pro poměr 9:16 */
  height: 30vh;     /* výška pro poměr 9:16 */
  border-radius: 8px;
  margin: auto;
  display: flex;               /* přidá flexbox */
  justify-content: center;     /* horizontálně vycentruje obsah */
  align-items: center;         /* vertikálně vycentruje obsah */
}

/* Barvy pro každý box */
.sudoku-color {
  background: #f092fa;
}
.chess-color {
  background: #4eadff;
}
.wordle-color {
  background: #43e97b;
}

.card-img {
  width: 10vw;
  height: 20vh;
  object-fit: contain;    /* nebo cover, podle typu ikonky */
  display: block;
  margin: 0 auto;
  
}


.wordle-root {
  min-height: 100vh;
  background: #f3f3f3; /* nebo libovolná barva */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4vh;
}
